USE [master]
GO
/****** Object:  Database [CartasDataBase]    Script Date: 1/04/2019 00:34:43 ******/
CREATE DATABASE [CartasDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CartasDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.VDELGADO\MSSQL\DATA\CartasDataBase.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CartasDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.VDELGADO\MSSQL\DATA\CartasDataBase_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CartasDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CartasDataBase]
GO
/****** Object:  Table [dbo].[Carta]    Script Date: 1/04/2019 00:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carta](
	[CartaId] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NULL,
	[GerenciaId] [int] NOT NULL,
	[Asunto] [varchar](500) NULL,
	[Destinatario] [varchar](500) NULL,
	[Usuario] [varchar](350) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_dbo.Carta] PRIMARY KEY CLUSTERED 
(
	[CartaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gerencia]    Script Date: 1/04/2019 00:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gerencia](
	[GerenciaId] [int] IDENTITY(1,1) NOT NULL,
	[Apoderado] [varchar](250) NOT NULL,
	[NombreGerencia] [varchar](250) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaIngreso] [datetime] NULL,
	[Abreviatura] [varchar](5) NULL,
 CONSTRAINT [PK_Gerencia] PRIMARY KEY CLUSTERED 
(
	[GerenciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Carta]  WITH CHECK ADD  CONSTRAINT [FK_Carta_Gerencia] FOREIGN KEY([GerenciaId])
REFERENCES [dbo].[Gerencia] ([GerenciaId])
GO
ALTER TABLE [dbo].[Carta] CHECK CONSTRAINT [FK_Carta_Gerencia]
GO
USE [master]
GO
